<swal
  #SwalNotePracticeModes
  customClass="swal__notepracticemodemodal"
  [showConfirmButton]="false"
  [showCancelButton]="false"
>
  <app-topic-practice-modal
    *swalPortal="undefined"
    (onCloseModal)="handleCloseModal()"
  ></app-topic-practice-modal>
</swal>

<app-wrapper>
  <wrapper-header>
    <app-header>
      <header-content>
        <app-search
          placeholder="Search notes you want..."
          (onChange)="handleSearch($event)"
        ></app-search>
      </header-content>
    </app-header>
  </wrapper-header>

  <wrapper-content>
    <div class="notelist">
      <div class="notelist__filters">
        <app-filters></app-filters>
      </div>
      <div class="notelist__grid">
        <div class="grid__cuadric" *ngIf="topicWithNotes">
          <app-note-card
            *ngFor="let note of topicWithNotes.notes"
            [note]="note"
          ></app-note-card>
        </div>
      </div>
    </div>
  </wrapper-content>

  <wrapper-footer>
    <app-button
      (onClick)="handleShowModal()"
      [icon]="'plus'"
      [variation]="'primary'"
    >
      <button-content> Practicar </button-content>
    </app-button>
    <app-button [icon]="'plus'" [variation]="'primary'">
      <button-content>
        <a routerLink="add"> Añadir Tarjetas </a>
      </button-content>
    </app-button>
  </wrapper-footer>
</app-wrapper>
