<div class="modal">
  <div class="modal__header">
    <div class="modal__header__title">
      <app-text
        classname="text-lg font-bold"
        [text]="sharedTitle"
        [color]="'black'"
      ></app-text>
    </div>
    <div class="modal__header__actions"></div>

    <div class="modal__header__close" (click)="handleCloseModal()">
      <app-icon [identifier]="'x-lg'"></app-icon>
    </div>
  </div>

  <div class="modal__body">
    <app-text
      classname="text-lg font-normal"
      [text]="sharedDescription"
      color="black"
    ></app-text>

    <app-text
      *ngIf="sharedTimeExpiration"
      classname="text-sm font-normal"
      [text]="sharedTimeExpiration"
      color="black"
    ></app-text>
  </div>

  <div class="modal__footer shared__modalfooter">
    <app-button
      (onClick)="handleClickGettingUrl()"
      [type]="'submit'"
      [icon]="'share'"
      [variation]="variation"
      className="shared__modalfooter__btn"
    >
      <button-content>
        <a
          *ngIf="sharedUrl"
          class="gamicard__footer__link"
          [routerLink]="sharedUrl"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          target="_blank"
        >
          {{ sharedUrlText }}</a
        >
        <ng-template *ngIf="sharedUrl"> {{ sharedUrlText }}</ng-template>
      </button-content>
    </app-button>
  </div>
</div>
