@use "sass:map";

%header {
  .wrapper__header {
    @apply flex items-center;

    &::ng-deep {
      wrapper-header {
        grid-area: header;

        @apply flex gap-2 w-full;
      }
    }
  }
}

%content {
  .wrapper__body {
    background-color: #f5f2ff;
    display: grid;
    grid-template-rows: 10% 90%;

    &::ng-deep {
      wrapper-content {
        width: 100%;
        height: 100%;
        grid-area: content;
        @apply p-3;
      }
    }
  }
  .wrapper__content {
    display: flex;
    align-items: center;
  }
}

%footer {
  .wrapper__footer {
    @apply flex items-center;

    &::ng-deep {
      wrapper-footer {
        grid-area: footer;
        bottom: 0px;

        @apply w-full flex gap-2 justify-center p-6;
      }
    }
  }
}

@mixin wrapper-base($header, $content, $footer) {
  grid-template: $header $content $footer;
}

@mixin wrapper-sections($header, $content, $footer) {
  @if (nth($header, 2) != 0%) {
    @extend %header;
  }
  @if (nth($content, 2) != 0%) {
    @extend %content;
  }
  @if (nth($footer, 2) != 0%) {
    @extend %footer;
  }
}

$variations: (
  "general": (
    "header": "header" 10%,
    "content": "content" 80%,
    "footer": "footer" 10%,
  ),
  "noheader": (
    "header": "header" 0%,
    "content": "content" 90%,
    "footer": "footer" 10%,
  ),
  "nofooter": (
    "header": "header" 10%,
    "content": "content" 90%,
    "footer": "footer" 0%,
  ),
);

.wrapper {
  display: grid;
  height: 100vh;

  @each $key, $value in $variations {
    $header_list: map.get($value, "header");
    $content_list: map.get($value, "content");
    $footer_list: map.get($value, "footer");

    &--#{$key} {
      @include wrapper-base($header_list, $content_list, $footer_list);
    }

    @include wrapper-sections($header_list, $content_list, $footer_list);
  }

  &__breadcrumb {
    @apply w-full flex items-center p-4;
  }
}
