.noteshome {
  height: 100vh;

  @apply relative;

  &__content {
    @apply p-3;

    display: grid;
    grid-gap: 1rem;

    background-color: #f9fbf4;
  }

  &__addbutton {
    bottom: 0px;

    @apply fixed w-full flex justify-center p-6;
  }
}
