<div class="public__topicshared">
  <div *ngIf="sharedTopic && !!sharedTopic.notes.length">
    <app-card *ngFor="let note of sharedTopic.notes">
      <card-body>
        <div class="public__topicshared__card">
          <app-text
            [text]="note.title | titlecase"
            [classname]="'text-xl'"
          ></app-text>
          <app-text
            [text]="note.description"
            [classname]="'text-sm'"
          ></app-text>
        </div>
      </card-body>
    </app-card>
  </div>
</div>
