.listitemui {
  @apply flex gap-4;
  border-radius: 0.4em;

  &:hover {
    cursor: pointer;
  }

  &__img {
    @apply overflow-hidden rounded-full flex justify-center items-center;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  &__content {
    &__title {
    }
    &__subtitle {
    }
  }
}
