<div class="gamiform">
  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <app-form-field [labelFor]="'title_note_form'" [labelText]="'Title'">
      <form-field-input>
        <input
          class="gamiform__input"
          type="text"
          placeholder="Type title..."
          formControlName="title_note_form"
        />
      </form-field-input>
    </app-form-field>

    <app-form-field
      [labelFor]="'description_note_form'"
      [labelText]="'Description'"
    >
      <form-field-input>
        <textarea
          class="gamiform__input"
          formControlName="description_note_form"
          placeholder="Type description..."
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </form-field-input>
    </app-form-field>
    <div>
      <app-button [type]="'submit'" [icon]="buttonIcon" [variation]="'primary'">
        <button-content> {{ buttonText }} </button-content>
      </app-button>
    </div>
  </form>
</div>
