<swal
  #SwalPracticeModes
  customClass="swal__practicemodemodal"
  [showConfirmButton]="false"
  [showCancelButton]="false"
>
  <app-practice-mode-modal
    *swalPortal="undefined"
    (onCloseModal)="onCloseModal()"
  ></app-practice-mode-modal>
</swal>

<app-notes-wrapper *ngIf="topicWithNotes$ | async; let topicWithNotes">
  <notes-header>
    <app-tag [background]="'#54bab9'" [color]="'white'" [weigth]="'bold'">
      <tag-content>
        {{ "Total: " + $any(topicWithNotes).total_notes | titlecase }}
      </tag-content>
    </app-tag>

    <app-tag [background]="'white'" [color]="'#54bab9'" [border]="'#54bab9'">
      <tag-content>
        No memorizadas:
        {{
          $any(topicWithNotes).total_notes -
            $any(topicWithNotes).total_memorized
        }}
      </tag-content>
    </app-tag>

    <app-tag [background]="'white'" [color]="'#54bab9'" [border]="'#54bab9'">
      <tag-content>
        {{
          "Memorizadas: " + $any(topicWithNotes).total_memorized | titlecase
        }}</tag-content
      >
    </app-tag>
  </notes-header>

  <notes-content>
    <app-card-study
      *ngFor="let note of $any(topicWithNotes).notes"
      [note]="note"
    ></app-card-study>
  </notes-content>

  <notes-footer>
    <app-button
      (onClick)="handleShowModal()"
      [icon]="'plus'"
      [variation]="'primary'"
    >
      <button-content> Practicar </button-content>
    </app-button>
    <app-button [icon]="'plus'" [variation]="'primary'">
      <button-content>
        <a [routerLink]="goToNoteForm()"> Añadir Tarjetas </a>
      </button-content>
    </app-button>
  </notes-footer>
</app-notes-wrapper>
