<swal
  #SwalPracticeModes
  customClass="swal__practicemodemodal"
  [showConfirmButton]="false"
  [showCancelButton]="false"
>
  <app-practice-mode-modal
    *swalPortal="undefined"
    (onCloseModal)="onCloseModal()"
  ></app-practice-mode-modal>
</swal>

<app-notes-wrapper>
  <notes-header>
    <app-tag [background]="'#54bab9'" [color]="'white'" [weigth]="'bold'">
      <tag-content> {{ "Total: 8" | titlecase }} </tag-content>
    </app-tag>

    <app-tag [background]="'white'" [color]="'#54bab9'" [border]="'#54bab9'">
      <tag-content> No memorizadas: 8 </tag-content>
    </app-tag>

    <app-tag [background]="'white'" [color]="'#54bab9'" [border]="'#54bab9'">
      <tag-content> Memorizadas: 0 </tag-content>
    </app-tag>
  </notes-header>

  <notes-content>
    <app-card-study
      *ngFor="let cardToStudy of cardsToStudy"
      [card]="cardToStudy"
    ></app-card-study>
  </notes-content>

  <notes-footer>
    <app-button
      (onClick)="handleShowModal()"
      [icon]="'plus'"
      [variation]="'primary'"
    >
      <button-content> Practicar </button-content>
    </app-button>
    <app-button [icon]="'plus'" [variation]="'primary'">
      <button-content>
        <a [routerLink]="goToNoteForm()"> Añadir Tarjetas </a>
      </button-content>
    </app-button>
  </notes-footer>
</app-notes-wrapper>
