<app-card>
  <card-body>
    <div class="notecard__body">
      <div class="notecard__body__title">
        <app-text [text]="card.title" [classname]="'text-xl'"></app-text>
        <div class="notecard__body__title__icon">
          <app-icon [identifier]="'more-vertical-outline'"></app-icon>
        </div>
      </div>
      <app-text
        [text]="card.title"
        [classname]="'text-sm'"
        [color]="'darkgray'"
      ></app-text>
    </div>
  </card-body>

  <card-footer>
    <div class="notecard__footer">
      <app-button [variation]="'secondary'">
        <button-content> Revisar </button-content>
      </app-button>
      <app-button [variation]="'secondary'">
        <button-content> Practicar </button-content>
      </app-button>
    </div>
  </card-footer>
</app-card>
