<ng-template #tooltipdropdown>
  <app-note-dropdown></app-note-dropdown>
</ng-template>

<div class="gamicard">
  <app-card>
    <card-body>
      <a [routerLink]="goToNoteForm()">
        <div class="gamicard__body">
          <div class="gamicard__body__title">
            <app-text
              [text]="note.title"
              [classname]="'text-xl  text--overflow'"
            ></app-text>
          </div>
          <app-text
            [text]="note.description"
            [classname]="'text-sm text--overflow'"
            [color]="'darkgray'"
          ></app-text>
        </div>
      </a>
    </card-body>

    <card-footer>
      <div class="gamicard__footer">
        <div class="gamicard__footer__actions">
          <app-icon
            [tooltip]="'Listen it!'"
            [identifier]="'volume-up'"
          ></app-icon>
        </div>

        <div class="gamicard__footer__icons">
          <app-icon
            debounce
            (debounceClick)="handleMarkAsFavorite()"
            [tooltip]="'Mark as favorite'"
            [identifier]="'heart'"
          ></app-icon>
          <app-icon
            [componentTooltip]="tooltipdropdown"
            [identifier]="'three-dots-vertical'"
          ></app-icon>
        </div>
      </div>
    </card-footer>
  </app-card>
</div>
