<app-wrapper>
  <wrapper-header>
    <app-topic-page-header title="My Topics"></app-topic-page-header>
  </wrapper-header>

  <wrapper-content>
    <div class="topiclist__content">
      <app-topic-card
        *ngFor="let topic of topics"
        [topic]="topic"
      ></app-topic-card>
    </div>
  </wrapper-content>

  <wrapper-footer>
    <app-button [icon]="'plus'" [variation]="'primary'">
      <button-content>
        <a [routerLink]="newTopicUrl"> Crear Conjunto </a>
      </button-content>
    </app-button>
  </wrapper-footer>
</app-wrapper>
