<app-wrapper>
  <wrapper-header>
    <app-header>
      <header-content>
        <app-search
          placeholder="Search topic you want..."
          (onChange)="handleSearch($event)"
        ></app-search>
      </header-content>
    </app-header>
  </wrapper-header>

  <wrapper-content>
    <div class="topiclist">
      <div class="topiclist__filters">
        <app-filters></app-filters>
      </div>
      <div class="topiclist__grid">
        <div class="grid__cuadric">
          <app-topic-card
            *ngFor="let topic of topics"
            [topic]="topic"
          ></app-topic-card>
        </div>
      </div>
    </div>
  </wrapper-content>

  <wrapper-footer>
    <app-button [icon]="'plus'" [variation]="'primary'">
      <button-content>
        <a [routerLink]="newTopicUrl"> Crear Conjunto </a>
      </button-content>
    </app-button>
  </wrapper-footer>
</app-wrapper>
