<div class="dropdown__cardnote">
  <swal
    #SwalEditCardNote
    customClass="swal__editcardmodal"
    [showConfirmButton]="false"
    [showCancelButton]="false"
  >
    <app-topic-form
      [id]="card.id"
      [topicForm]="topicForm"
      *swalPortal="undefined"
      (onCloseModal)="onCloseModal()"
    ></app-topic-form>
  </swal>
  <ng-container *ngFor="let option of dropdownCardNotes">
    <app-list-item
      classname="listitemui__dropdowncardnote"
      type="icon"
      background="black"
      (click)="handleClickListItem(option)"
      padding="8px"
      [url]="option.url"
      [icon]="option.icon"
      [title]="option.title"
      titleColor="white"
    ></app-list-item>
  </ng-container>
</div>
