.buttonui {
  @apply font-semibold py-1 px-2 rounded-full;

  &--primary {
    background-color: #54bab9;
    color: white;
  }

  &--secondary {
    background-color: white;
    color: #54bab9;
    border: 1px solid #54bab9;
  }

  &__icon {
    display: inline-block;
    &--before {
      margin-left: 5px;
    }
    &--after {
      margin-right: 5px;
    }
  }
}
