<ul class="breadcrumb">
  <span class="breadcrumb__preffix">
    <app-icon identifier="house-heart" variation="secondary"></app-icon>
  </span>
  <li
    class="breadcrumb__item"
    *ngFor="let breadcrumb of breadcrumbs; let first = first; let last = last"
  >
    <a class="breadcrumb__item__link" [routerLink]="breadcrumb.url">{{
      breadcrumb.label
    }}</a>

    <span class="breadcrumb__item__chevron" *ngIf="!last">
      <app-icon identifier="chevron-right" variation="secondary"></app-icon>
    </span>
  </li>
</ul>
